
<div class="jumbotron">
  <h1> <%= @client.identifier %></h1>
</div>

<div class="row">
    <% @client.urls.uniq.each do |url| %>
      <% id = @client.identifier %>
      <% address = url.address.split(id +".com").last %>
        <div class="text-center col-md-4">
          <a class ="thumbnail" href="/sources/<%= id %>/urls<%= address %>">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
            <p><%= url.address %></p>
          </a>
        </div>
    <% end %>
</div>

<table class="table">
  <tr>
    <th>Average response time across all requests</th>
    <td><%= @client.average_response_time %></td>
  </tr>
  <tr>
    <th>Max Response time across all requests</th>
    <td><%= @client.max_response_time %></td>
  </tr>
  <tr>
    <th>Min Response time across all requests</th>
    <td><%= @client.min_response_time %></td>
  </tr>
  <tr>
    <th>Most frequent request type</th>
    <td>
      <%= @client.most_frequent_request_type %>
    </td>
  <tr>
    <th>Web browser breakdown across all requests</th>
    <td>
      <table class="table">
        <tr>
          <th>Web Browser</th><th>Count</th>
        </tr>
        <% @client.browser_breakdown.to_a.each do |browser_count| %>
          <tr>
            <td> <%= browser_count[0] %> </td>
            <td> <%= browser_count[1] %> </td>
          <tr>
        <% end %>
      </table>
    </td>
  <tr>
    <th>OS breakdown across all requests</th>
    <td>
      <table class="table">
        <tr>
          <th>Operating System</th><th>Count</th>
        </tr>
        <% @client.os_breakdown.to_a.each do |os_count| %>
          <tr>
            <td> <%= os_count[0] %> </td>
            <td> <%= os_count[1] %> </td>
          <tr>
        <% end %>
      </table>
    </td>
  </tr>
  <tr>
    <th>Screen Resolutions across all requests (resolutionWidth x resolutionHeight)</th>
    <td>
      <table class="table">
        <tr>
          <th>Width</th><th>Height</th>
        </tr>
        <% @client.display_resolutions.uniq.each do |resolution| %>
          <tr>
            <td> <%= resolution[0] %> </td>
            <td> <%= resolution[1] %> </td>
          <tr>
        <% end %>
      </table>
    </td>
  </tr>
</table> <!-- end of table-->
