<h1> <%= @client.identifier %></h1>
<table>
  <tr>
    <th>Average response time across all requests</th>
    <td><%= @client.average_response_time %></td>
  </tr>
  <tr>
    <th>Max Response time across all requests</th>
    <td><%= @client.max_response_time %></td>
  </tr>
  <tr>
    <th>Min Response time across all requests</th>
    <td><%= @client.min_response_time %></td>
  </tr>
  <tr>
    <th>Most frequent request type</th>
    <td>
      <%= @client.most_frequent_request_type %>
    </td>
  <tr>
    <th>Web browser breakdown across all requests</th>
    <td>
      <% @client.browser_breakdown.to_a.each do |browser_count| %>
        <p> <%= browser_count[0] %> : <%= browser_count[1] %> </p>
      <% end %>
    </td>
  <tr>
    <th>OS breakdown across all requests</th>
    <td>
      <% @client.os_breakdown.to_a.each do |os_count| %>
        <p> <%= os_count[0] %> : <%= os_count[1] %> </p>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Screen Resolutions across all requests (resolutionWidth x resolutionHeight)</th>
    <td><%= @client.display_resolutions.uniq %></td>
  </tr>
</table> <!-- end of table-->

<% @client.urls.uniq.each do |url| %>
  <% id = @client.identifier %>
  <% address = url.address.split(id +".com").last %>
  <p>id = <%= id %> </p>
  <p>address = <%= address %> </p>
  <p>
    <a href="/sources/<%= id %>/urls<%= address %>">
      <%= url.address %>
    </a>
  </p>
<% end %>
